/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
/auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpunit.cache
/bootstrap/ssr
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
.phpactor.json
.phpunit.result.cache

# User Uploads & Local Files
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/app/cvs/*
!/storage/app/cvs/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/views/*.php
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*.log
/storage/debugbar/*.json

# IDEs and Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Junk
.DS_Store
Thumbs.db
